@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-mode="dark"] {
    --color-mode: 0 0 0;
    --color-primary: 143 96 248;
    --color-secondary: 255 255 255;
  }

  :root[data-mode="dim"] {
    --color-mode: 8 15 38;
    --color-primary: 143 96 248;
    --color-secondary: 255 255 255;
  }

  :root[data-mode="light"] {
    --color-mode: 255 255 255;
    --color-primary: 158 116 252;
    --color-secondary: 50 50 50;
  }
}

* {
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--color-secondary));
  padding: 64px 8px 0 8px;
  background: rgb(var(--color-mode));
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-primary));
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-track-piece {
  margin: 5px;
}
